@media only screen and (min-width: 37.5em) {


    #menu{
        display: none;
    }

    nav{
        display: grid;
        margin: auto;
        grid-column: 1/4;
    }

    nav ul{
        grid-column: 2;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .weather-info-large{
        display: grid;
        grid-column: 3;
        padding: 0.3rem;
        margin: auto;
        margin-top: 1rem;
        max-height: 70%;
        background-color: #3E89D7;
    }

    .weather-info-large img{
        grid-column: 1;
        margin: auto;
        margin-top: 1.3rem;
    }

    .weather-info-large ul{
        list-style-type: none;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 0.1rem;
        font-size: 15px;
        grid-column: 2;
        grid-row: 1;
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

    .weather-info-large #currentTemp{
        font-size: 15px;
        padding: 0.5rem;
    }


    .weather-info-small{
        display: none;
    }

    #home-grid{
        grid-template-columns: 1fr 1fr;
    }


    .forecast{
        grid-row: 1;
        grid-column: 1/3;
    }

    .news{
        grid-row: 3;
    }

    .events{
        grid-row: 3;
    }


    .purpose{
        grid-row: 4;
        grid-column: 1/3;
    }

    .join-now{
        grid-row: 5;
        grid-column: 1/3;
    }

    .featured-businesses{
        grid-row: 6;
        grid-column: 1/3;
    }

    .contact-info{
        grid-row: 7;
        grid-column: 1/3;
        max-width: 80%;
        padding: 1rem;
        margin: auto;
    }

    #member{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
    }

    #member legend{
        grid-column: 1/3;
    }

    #member div{
        margin: auto;
    }

    .form-container{
        max-width: 80%;
    }

}